## Installations

Run these commands if not installed:
* !pip install pyresparser
* !python -m spacy download en_core_web_sm
* !python -m nltk.downloader words

In [19]:
from pyresparser import ResumeParser
PATH = '/content/project.pdf' # Give the file path here
data = ResumeParser(PATH).get_extracted_data()

Below data is getting after Parsing the resume PDF file.

In [20]:
data

{'college_name': None,
 'company_names': None,
 'degree': ['Bachelor, Technology, xstatusx July 2008',
  'Masters, Business Administration'],
 'designation': ['xxTitlexx'],
 'email': 'xxxxxxx@xxx.com',
 'experience': ['xxTitlexx',
  'xxCompanyNamexx',
  'April 2014 - Current',
  'xCityx, xStatex',
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio',
  'diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.',
  '▪ Lorem ipsum dolor sit amet, consectetur.',
  '▪ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.',
  '▪ Nulla quis sem at nibh elementum imperdiet dolor sit.',
  'xxTitlexx',
  'xxCompanyNamexx',
  'October 2011 - March 2014',
  'xCityx, xStatex',
  '▪ Lorem ipsum dolor sit amet, consectetur.',
  '▪ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.',
  '▪ Lorem ipsum dolor sit amet, consectetuer adipiscing elit ean commodo ligula',
  'sectetuer adipiscing elit ean.',
  '▪ Lorem ipsum dolor sit amet, consectetur.',
  '▪ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.',
  'xxTitlexx',
  'xxCompanyNamexx',
  'October 2009 - October 2011',
  'xCityx, xStatex',
  'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo',
  'ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis',
  'parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies Lorem',
  'ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget',
  'dolor. Aenean massa.'],
 'mobile_number': '0000000',
 'name': 'conse siti',
 'no_of_pages': 5,
 'skills': ['Email',
  'Training',
  'Cms',
  'Word',
  'Excel',
  'Hardware',
  'Adobe',
  'Engineering',
  'Database',
  'English',
  'Certification',
  'German',
  'Servers',
  'Photoshop',
  'Administration'],
 'total_experience': 4.42}

In [21]:
import pandas as pd

In [26]:
df = pd.DataFrame.from_dict([data]).T

In [27]:
df

                                                                  0
name                                                     conse siti
email                                               xxxxxxx@xxx.com
mobile_number                                               0000000
skills            [Email, Training, Cms, Word, Excel, Hardware, ...
college_name                                                   None
degree            [Bachelor, Technology, xstatusx July 2008, Mas...
designation                                             [xxTitlexx]
experience        [xxTitlexx, xxCompanyNamexx, April 2014 - Curr...
company_names                                                  None
no_of_pages                                                       5
total_experience                                               4.42